---
import ThemeToggle from "../ThemeToggle.astro";
---
<div class="w-full flex justify-end items-end ml-auto p-6">
  <div>
    <ThemeToggle />
  </div>
</div>
    <div class="px-8 py-10 md:px-12 mx-auto lg:pb-10 max-w-7xl lg:px-10 lg:pt-10">
      <div class="lg:text-center">
        <h1 class="text-4xl tracking-tight text-balance font-medium font-display text-black md:text-8xl dark:text-white">
          Hello.._  DAD
        </h1>
      </div>
  </div>
