@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text-font: 'Inter', sans-serif;
  --code-font: 'Fira Code', monospace;
  font-size: 120%;
}

.prose-styles {
  @apply text-sm prose text-neutral-600 prose-a:font-normal prose-a:text-blue-400 hover:prose-a:text-black prose-h1:text-black prose-img:rounded prose-h2:text-black prose-h2:font-semibold prose-p:text-sm prose-pre:font-mono max-w-none prose-pre:rounded-none;

  /* Dark Mode Styles */
  @apply dark:text-neutral-400;
  @apply dark:prose-a:text-blue-400 dark:hover:prose-a:text-white;
  @apply dark:prose-h1:text-white;
  @apply dark:prose-h2:text-white;
  @apply dark:prose-h3:text-white;
  @apply dark:prose-pre:bg-neutral-900;
}


/* Stile für Inline-Code */
.prose-styles code {
  @apply bg-gray-100 dark:bg-gray-800 text-black dark:text-gray-100 px-1 rounded;
  font-size: 85%; /* Kleinesre Schriftgröße für Inline-Code */
  word-wrap: break-word; /* Lange Code-Zeilen umbrechen */
}

/* Stile für Code-Blöcke */
.prose-styles pre {
  @apply bg-gray-100 dark:bg-gray-800 text-black dark:text-gray-100 p-4 rounded overflow-x-auto;
  font-size: 120%; /* Konsistente Schriftgröße für Code-Blöcke */
  margin-top: 1em; /* Abstand vor Code-Blöcken */
  margin-bottom: 1em; /* Abstand nach Code-Blöcken */
  word-wrap: break-word; /* Lange Code-Zeilen umbrechen */
}

.prose-styles pre code {
  @apply bg-transparent p-0 text-black dark:text-gray-100;
}
