---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {useStoryblokApi} from "@storyblok/astro";
import BlogPostList from "../../storyblok/BlogPostList.astro";
import ThemeToggle from "../../components/ThemeToggle.astro";

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();
  const { data } = await storyblokApi.get('cdn/tags', {
    version: import.meta.env.DEV ? "draft" : "published",
    content_type: 'blogPost',
  })

  const uniqueTags = [
    ...new Set(data.tags.map((tag) => tag.name).flat()),
  ];
  return uniqueTags.map((tag) => {
    return {params: {tag: tag}}
  })
}

const { tag } = Astro.params;
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories`, {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'blogPost',
})


let filteredStories = data.stories.filter(story => story.tag_list.includes(tag));
data.stories = filteredStories;
---

<BaseLayout pageTitle={tag}>
  <div class="relative w-full">
    <div class="absolute right-5 top-5 lg:right-10 lg:top-10">
      <ThemeToggle />
    </div>
  </div>
  <section>
    <div class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32 lg:pt-48">
      <div class="lg:text-center">
        <a href="/" class="text-4xl tracking-tight text-balance font-medium font-display text-black dark:text-white md:text-6xl">
          Blogposts "{tag}"
        </a>
      </div>
      {data.stories ? <BlogPostList blokdata={data}/> : ''}
    </div>
  </section>
</BaseLayout>
