---
import BaseLayout from "@/layouts/BaseLayout.astro";
import {useStoryblokApi} from "@storyblok/astro";
import Hero from "../../components/landing/Hero.astro";
import { contentVersion } from "../../utils/storyblok";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/tags', {
  version: contentVersion,
})
const uniqueTags: string[] = [
  ...new Set<string>(data.tags.map((tag: { name: string }) => tag.name)),
];
---

<BaseLayout title="Alle Tags">
  <Hero />
  <section>
    <div class="px-8 md:px-12 mx-auto max-w-7xl py-12 lg:px-32">
      <ol role="list" class="flex flex-wrap gap-3">
        {
          uniqueTags.map((tag) => (
              <li class="inline-flex items-center uppercase mx-auto font-medium">
                <a href={`/tags/${encodeURIComponent(tag)}`} class="max-w-sm leading-tight">
                  <span class="link-underline text-black dark:text-white pb-2">{tag}</span>
                </a>
              </li>
          ))
        }
      </ol>
    </div>
  </section>
</BaseLayout>
