---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogPostList from "../../storyblok/BlogPostList.astro";
import {useStoryblokApi} from "@storyblok/astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: 'blogPost',
})
---

<BaseLayout pageTitle="Tags">
  <section>
    <div class="px-8 md:px-12 mx-auto max-w-7xl py-12 lg:px-32">
      <BlogPostList blokdata={data}/>
    </div>
  </section>
</BaseLayout>
