---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/global/Footer.astro";
import { ThemeScript } from 'astro-theme-toggle';
import Analytics from '@vercel/analytics/astro';
---

<html lang="en">
  <head>
    <BaseHead />
    <ThemeScript />
    <Analytics />
  </head>
  <body class="bg-white dark:bg-gray-900 flex flex-col min-h-screen">
    <main class="flex-grow"><slot /></main>
    <Footer />
  </body>
</html>
