---
import {Image} from 'astro:assets';
---
<section>
  <div
    class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32"
  >
    <div class="relative  bg-black dark:bg-gray-700 p-8 lg:p-20 rounded-xl">
      <h2
        class="mx-auto text-center text-2xl text-balance lg:text-5xl font-light font-display text-white "
      >
        Thanks for reading :)
      </h2>
    </div>
  </div>
</section>
