<footer class="bg-white border-t dark:bg-gray-900">
  <div class="px-8 md:px-12 mx-auto max-w-7xl py-6 lg:px-32">
    <section class="gap-y-6 gap-x-8 dark:text-white">
This website was built with Astro &amp; Tailwind.
    </section>
  </div>
</footer>
