---
import {Image} from 'astro:assets';
---
<footer class="bg-white border-t dark:bg-gray-900">
    <div class="flex items-center justify-center">
        <div>
            <Image  class="dark:hidden"
                    src="/images/signature.svg"
                    alt="bild"
                    width="135"
                    height="100"
                    loading="lazy"
            />
            <Image  class="dark:block hidden"
                    src="/images/signatureDark.svg"
                    alt="bild"
                    width="150"
                    height="100"
                    loading="lazy"
            />
        </div>
    </div>
</footer>
